Flask==0.9
Flask-Testing==0.4
Jinja2==2.7
MarkupSafe==0.18
Werkzeug==0.8.3
distribute==0.6.45
gunicorn==0.17.4
hiredis==0.1.1
ipython==0.13.2
mock==1.0.1
nose==1.3.0
numpy==1.7.1
redis==2.7.5
scikit-learn==0.13.1
-e git://github.com/panisson/crab.git#egg=scikits.crab-dev
scipy==0.12.0
twill==0.9
